* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body, html{
  height: 100%;
}

ol, ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.runningBox {
  flex-grow: 1;
  padding: 1em 0;
}

@media (max-width: 1024px) {
  .navbar-nav {
      display: flex;
      flex-direction: column;
  }

  .connectedBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
}